
<!-- BEGIN .full-block -->
<div class="full-block">

	<!-- BEGIN .ot-slider-new -->
	<div class="ot-slider-new">

		<!-- BEGIN .slider-new-slides -->
		<div class="slider-new-slides">

			<div class="slider-slide">
				<img src="assets/image-102a.jpg" alt="" style="width: 100%;height:550px;">
				<div class="slider-layer">
					<span class="category">Mobile</span>
					<span class="date">16/10/2014</span>
					<h2><a href="#">Samsung Galaxy S6 Edge</a></h2>
				</div>
			</div>

			<div class="slider-slide">
				<img src="assets/image-103a.jpg" alt="" style="width: 100%;height:550px;">
				<div class="slider-layer">
					<span class="category">Lifestyle</span>
					<span class="date">16/10/2014</span>
					<h2><a href="#">We've discovered the perfect no makeup makeup</a></h2>
				</div>
			</div>

			<div class="slider-slide">
				<img src="assets/image-104a.jpg" alt="" style="width: 100%;height:550px;">
				<div class="slider-layer">
					<span class="category">Game</span>
					<span class="date">16/10/2014</span>
					<h2><a href="#">Best game of the Year 2015</a></h2>
				</div>
			</div>

			<div class="slider-slide">
				<img src="assets/image-102.jpg" alt="" style="width: 100%;">
				<div class="slider-layer">
					<span class="category">Lifestyle</span>
					<span class="date">16/10/2014</span>
					<h2><a href="#">We've discovered the perfect no makeup makeup</a></h2>
				</div>
			</div>

		<!-- END .slider-new-slides -->
		</div>

		<div class="ot-slider-new-controls">
			<div class="ot-slider-new-controls-right">right</div>
			<div class="ot-slider-new-controls-left">left</div>
			<div class="ot-slider-new-controls-inner">
				<a href="#"><span>How style blogger sincerely jules makes flip flopx chic</span></a>
				<a href="#"><span>Quo in vero labitur ius ornatus deleniti iracundia id vix</span></a>
				<a href="#"><span>Eu his fastidii comprehensam ius dicam mquam facete malorum</span></a>
				<a href="#"><span>Has eu dicant tamquam interesset atqui affert soleat vis no</span></a>
			</div>
		</div>

	<!-- END .ot-slider -->
	</div>

<!-- END .full-block -->
</div>